.post-container {
    /*background: red; #e2e8d5;*/
    background: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    padding: 3%;
    margin: 0 2%;
}
.heading {
    height: 126px;
    text-align: center;
    display: flex;
    align-items: center;
}
.image {
    padding-Left: 3%;
    padding-Right: 3%;
    width: 100%;
    height: 210px;
}
.body {
    padding-Left: 3%;
    padding-Right: 3%;
}
body {
    background-color: black; /*this is the bar on top*/
}