.App {
  text-align: center;
}

.main-heading{
  text-align: center;
}

.heading-container{
  background: rgba(30, 30, 30, .5);
  /*display: flex;
  flex-direction: row;*/
  padding: 1%;
  margin: 0 2%; 
}
.heading-spacer{
  background: rgba(30, 30, 30, 0);
  padding-top: 3%;
}

.App-logo {
  /* height: 40vmin; */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.main-heading {
  /* textAlign: center; doesnt work */
  padding-Left: 3%;
}
.App-link {
  color: #61dafb;
}

.body {
  text-align: center;
}

.Ben-Info {
  background: rgba(144, 118, 99, 1);
    padding: 1%;
    /*padding-Bottom: 3%;

    padding: 3%;*/
    margin: 0 2%; 
}
.Ben-Info-Spacer {
  background: rgba(144, 118, 99, 0);
    padding: 3%;
    /*padding-Bottom: 3%;*/
}

/*.main-container {
  backgroundSize: 'cover';
  backgroundRepeat: 'no-repeat';
  }
*/
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

